<h1>Editing projet</h1>

<% form_for(@projet) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nom %><br />
    <%= f.text_field :nom %>
  </p>
  <p>
    <%= f.label :weburl %><br />
    <%= f.text_field :weburl %>
  </p>
  <p>
    <%= f.label :desc %><br />
    <%= f.text_area :desc %>
  </p>
  <p>
    <%= f.label :mise_service %><br />
    <%= f.date_select :mise_service %>
  </p>
  <p>
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @projet %> |
<%= link_to 'Back', projets_path %>