<div id="yui-main">
    
    <div class="yui-b">
        
        <div class="yui-g accroche">
            <div id="boule-orange">
                <%= image_tag("Boule-orange.png") %>
            </div>
            <p>
            Artisans, Entreprises, Institutions, faîtes de l'internet un outil à votre service.<br/> Avec nous, vos projets internet, de la conception de site web à la mise en place de système d'information vous apporterons entière satisfaction.                
            </p>
        </div>
        
        <div class="yui-g btexte">
            
            <div id="boule-rouge">
                <%= image_tag("Boule-rouge.png", :size => "40x40") %>
            </div>
            
            <h2>Conception, Maintenance et Refonte de site internet</h2>
            
            <p>La conception d'un site internet est une étape importante pour votre activité. C'est l'assurance d'avoir un outil de marketing direct et de communication à l'audience potentiellement illimitée et au budget maîtrisé.<br/><br/>

            <b>Un site bien conçu c'est : la diffusion de votre image de marque à moindre coût, une vente, un prospect gagné, un client fidélisé</b>.<br/><br/>

            Nous réalisons une étude de vos besoins et objectifs, établissons un cahier des charges et vous proposons  un devis personnalisé.
            Les méthodologies utilisées permettent  un suivi en temps réel de la réalisation du projet. Ainsi, vous êtes toujours certains que le projet répond aux attentes exprimées.<br/><br/></p>
        </div>
        
        <div class="yui-g btexte">
            <div id="boule-grise">
                <%= image_tag("Boule-grise.png", :size => "40x40") %>
            </div>
            
            <h2>Système d'information</h2>
            
            <p>
                Vous souhaitez rationaliser vos flux d'informations, diminuer le nombre de documents papier, automatiser le suivi de vos activités, l'établissement de compte rendus et de rapports ? Vous souhaitez retrouver les informations pertinentes à tout moment et de n'importe où ?<br/><br/>

            Adoptez un Système d'information en architecture client serveur !!<br/><br/>

            Une étude approfondie de votre activité permettra de modéliser les flux d'informations pour que vous puissiez en tirer le meilleur à tous moments … 
            <br/><br/>
            </p>
        </div>        
    
    </div>
    
</div>

<div class="yui-b sidebar">
    <div class="yui-g b1c2">
        <div id="boule-verte">
            <%= image_tag("Boule-verte.png", :size => "31x30") %>
        </div>
        <p>
            <%# link_to "Voir nos Sites Modeles", modeles_path() %>
        </p>
    </div>
    
    <div class="yui-g b2c2">
        <div id="boule-bleu">
            <%= image_tag("Boule-bleu.png", :size => "31x30") %>
        </div>
        <p>
            <b>Quelques réalisations …</b>
        </p>
        <% if !@projets.blank? %>
          <% for projet in @projets %>
            <p>
                <%= image_tag(projet.illus.url(:thumb)) %><br/>
                <%= link_to projet.nom, projet.weburl %>
            </p>
          <% end %>
        <% end %>
        <p>
            <%= link_to "Voir plus …", projets_path() %>
        </p>
        
    </div>
</div>
