<div id="yui-main">
    <div class="yui-b">
        <div class="yui-g">
            <h1>Contactez nous</h1>
            <p>
               <b>Remplissez le formulaire suivant, nous vous donnons l'assurance d'entrer très rapidement en contact.</b>
            </p>
        </div>

        <div class="yui-g">
            <% form_for @prospect do |f| -%>
              <p>
                <%= f.label :nom, "Nom" %><br/>
                <%= f.text_field :nom %>
              </p>
              <p>
                <%= f.label :prenom, "Prenom" %><br/>
                <%= f.text_field :prenom %>
              </p>
              <p>
                <%= f.label :tel, "Telephone" %><br/>
                <%= f.text_field :tel %>
              </p>
              <p>
                <%= f.label :email, "Email" %><br/>
                <%= f.text_field :email %>
              </p>
              <p>
                <%= f.label :interet, "Sujet" %><br/>
                <%= f.select :interet, Prospect::CATEGORY %>
              </p>
              <p>
                <%= f.label :Message, "Message" %><br/>
                <%= f.text_area :message, :rows => 10 %>
              </p>
              <p>
                <%= submit_tag "Envoyer" %>
              </p>
            <% end -%>
        </div>
    </div>
</div>

<div class="yui-b sidebar">
    <div class="yui-g b1c2">
        <div id="boule-verte">
            <%= image_tag("Boule-verte.png", :size => "31x30") %>
        </div>
        <p>
            <%= link_to "Voir nos Sites Modeles", "" %>
        </p>
    </div>
    
    <div class="yui-g login">
        <% if logged_in? %>
            <%= link_to "Déconnexion", logout_path() %>
        <% end %>
    </div>
    
    <div class="yui-g b2c2">
        <div id="boule-bleu">
            <%= image_tag("Boule-bleu.png", :size => "31x30") %>
        </div>
        <p><b>Coordonnées : </b></p>
        <p>
            <br/>
                Tel : (+33) 0690 91 17 48 <br/>
                Fax : (+33) 0590 85 33 57 <br/>
                <%= mail_to("gillesmath@me.com", "Mon email", :encode => "hex") %><br/>
                Ruelle Jeanne d'Arc<br/> 97180 Sainte-Anne<br/> Guadeloupe FWI
        </p>
    </div>
</div>