<div id="yui-main">
    <div class="yui-b">
        <div class="yui-g accroche">
            <div id="boule-orange">
                <%= image_tag("Boule-orange.png") %>
            </div>
            <p>
                Avec plus de 3 ans d'expérience des technologies Ruby on Rails, PHP et Java, nous vous aiderons à résoudre vos problématiques liées aux technologies de l'information et de communication.
            </p>
        </div>
        
            <h1>Nous pouvons vous aider dans les domaines suivants :</h1>
        
        <div class="yui-g btexte">
            
            <h2>Conception de site internet et de WebServices</h2>
            <p>
                Adoptez ce médium puissant de communication et de marketing direct. Bénéficier de l'étude et de la réalisation du prototype gratuitement. Ceci permettra l'établissement d'un devis personnalisé et du planning de réalisation du projet.<br/><br/>
                <%= link_to "Consulter le portfolio", projets_path() %>
            </p>
            
            <p>
                Une idée de service en ligne à proposer ? Nous vous aiderons à la concrétiser
            </p>
            
            <h2>Maintenance, Mise à jour de site et Refonte</h2>
            
            <p>
                Un site est un medium de communication. Il se doit d'être vivant pour être efficace. Un site régulièrement mis à jour est un outil de fidélisations et de bonne relation clientèle.
            </p>
            <p>
                De même, l'aspect et les fonctionnalités d'un site devraient toujours rester agréable pour l'utilisateur ; une refonte de l'interface et des fonctions de votre site peut le re-dynamiser. 
            </p>
            
            <h2>Mise en place de Système d'Information (S.I)</h2>
            <p>
                Un système d'information (abrégé SI) est un ensemble de moyens techniques, administratifs, et humains qui servent à la collecte, au classement et à la transmission d'informations entre les membres d'une organisation (institution, entreprise, association,..)<br/><br/>
                <b>L'utilisation de moyens informatiques permet d'automatiser et de dématérialiser les opérations telles que les procédures d'entreprise ou d'institution.</b>
                <br/><br/>
                Demandez une étude de votre système d'information, afin d'en déterminer les possibilités d'automatisation et de dématérialisation, gagner en temps précieux que vous pourrez consacrer au développement de votre activité.
            </p>
            
            <h2>Formation spécifique à Ruby on Rails</h2>
            <p>
                Apprivoiser cette technologie de développement web et décupler votre productivité.<br/>
                Pré-requis : Une connaissance basique de l'architecture client-serveur et des bases de données sont nécessaires.
            </p>
            
            <h2>Formation à l'outil informatique et multimédia</h2>
            
            <p>
                Nous dispensons des cours d'apprentissage à Internet et aux logiciels multimédia (montage vidéo, gestion de photothèques).
                Vous avez décidé d'adopter un Mac, nous pouvons vous aider à être plus rapidement opérationnel sur cet environnement.
            </p>
        </div>
    </div>
</div>

<div class="yui-b sidebar">
    <div class="yui-g b1c2">
        <div id="boule-verte">
            <%= image_tag("boule-verte.png", :size => "31x30") %>
        </div>
        <p>
            <%= link_to "Voir nos Sites Modeles", "" %>
        </p>
    </div>
    
    <div class="yui-g b2c2">
        <div id="boule-bleu">
            <%= image_tag("boule-bleu.png", :size => "31x30") %>
        </div>
        <p><b>Un cas de Système d'Information</b></p>
        
        <p>
            <b>
                 <%= link_to "CYBERBUS (C.R.I.J)", "http://www.crijcyberbus.com",
                  :popup => true %>
            </b>
        </p>
        
        <p>
            Pour optimiser la circulation de l'information liée aux activités Cyberbus du C.R.I.J , la saisie et le traitement des fiches d'activités des Cyberbus furent dématérialisés sur une architecture Client-Serveur. Le temps de traitement des informations recueillies tout comme leur diffusion furent réduit de façon considérable ; aboutissant à une meilleure vision d'ensemble de l'activité.
        </p>
        <p><%= link_to "Détails", si_cyberbus_path() %></p>
    </div>
</div>