<div id="yui-main">
    <div class="yui-b">
        
        <div class="yui-g accroche">
            <div id="boule-orange">
                <%= image_tag("Boule-orange.png") %>
            </div>
            <p>
                Notre exigence de qualité, nous pousse sans cesse à nous améliorer. Nous mettons cette exigence à votre service en vous proposant les solutions les plus adaptées.
            </p>
        </div>
        
        <div class="yui-g btexte">
            <h1>Qui sommes nous ?</h1>
            
            <h2>Gilles MATHURIN : Chef de projet- Développeur - Webmaster</h2>
            
            <p class="photo">
                <%= image_tag("boule-verte.png") %>
            </p>
            <p>
                Titulaire d'un certificat en conduite de projet multimédia orienté Internet délivré par l'U.Q.U.A.M (Université du Québec à Montréal), d'un D.U.T et en formation pour obtenir le titre d'ingénieur informatique du CNAM. Ma passion à votre service. J'emploie les méthodologies de développement "agile", les plus récentes afin que la conduite de votre projet et la qualité du résultat final soient exemplaires
            </p>
            
            <h2>Partenaires</h2>
            
            <p>
                Notre réseau de partenaires confirmés dans les domaines des réseaux informatiques, de l'hébergement et de la maintenance, nous permet de mener à bien les projets d'envergure tel que la mise en place de systèmes d'informations, et leur maintenance.
            </p>
            <!-- <ul>
                <li>Raoul Jean-Noël : spécialiste réseau</li>
                <li>Ruddy Raboteur : spécialiste réseau</li>
                <li>Victor GOUDOU :</li>
            </ul> -->
        </div>
        
    </div>
</div>

<div class="yui-b sidebar">
    <div class="yui-g b1c2">
        <div id="boule-verte">
            <%= image_tag("boule-verte.png", :size => "31x30") %>
        </div>
        <p>
            <%= link_to "Voir nos Sites Modeles", "" %>
        </p>
    </div>
    
    <div class="yui-g login">
        <% if logged_in? %>
            <%= link_to "Déconnexion", logout_path() %>
        <% end %>
    </div>
</div>