<div id="yui-main">
    <div class="yui-b">
        
        <div class="yui-g accroche">
            
            <div id="boule-orange">
                <%= image_tag("Boule-orange.png") %>
            </div>
            
            <p>
                " Visez toujours la lune. Même si vous la manquez, vous atterrirez parmi les étoiles. "<br/>                
            </p>
            <pre>Auteur : Les Brown</pre>
        </div>
        
        <div class="yui-g">
            <h1>Qui sommes nous ?</h1>
        </div>
            
         <div class="yui-g btexte">    
            <h2>Gilles MATHURIN : Chef de projet - Développeur - Webmaster</h2>
            
            <p class="photo">
                <%= image_tag("Gilles.jpg", :size => "104x140") %>
            </p>
            <p>
                Titulaire d'un certificat en conduite de projet multimédia orienté Internet délivré par l'U.Q.U.A.M (Université du Québec à Montréal) & INFOGUA, d'un D.U.T et en formation pour obtenir la licence S.T.I.C via le CNAM. Ma passion à votre service.<br/><br/> J'emploie les méthodologies de développement "agile", les plus récentes pour une conduite de projet et une qualité du résultat final exemplaires.
            </p>
         </div>
        
        <div class="yui-g btexte">     
            <h2>Partenaires</h2>
            
            <p>
                Notre réseau de partenaires confirmés dans les domaines des réseaux informatiques, de l'hébergement et de la maintenance, nous permet de mener à bien les projets d'envergure tel que la mise en place de systèmes d'informations, et leur maintenance.
            </p>
            <!-- <ul>
                <li>Raoul Jean-Noël : spécialiste réseau</li>
                <li>Ruddy Raboteur : spécialiste réseau</li>
                <li>Victor GOUDOU :</li>
            </ul> -->
        </div>
        
    </div>
</div>

<div class="yui-b sidebar">
    <div class="yui-g b1c2">
        <div id="boule-verte">
            <%= image_tag("boule-verte.png", :size => "31x30") %>
        </div>
        <p>
            <%= link_to "Voir nos Sites Modeles", "" %>
        </p>
    </div>
    
    <div class="yui-g login">
        <% if logged_in? %>
            <%= link_to "Déconnexion", logout_path() %>
        <% end %>
    </div>
    
    <div class="yui-g b2c2">
        <div id="boule-bleu">
            <%= image_tag("boule-bleu.png", :size => "31x30") %>
        </div>
        <p><b>Coordonnées : </b></p>
        <p>
            <br/>
                Tel : (+33) 0690 91 17 48 <br/>
                Fax : (+33) 0590 00 00 00 <br/>
                <%= mail_to("gillesmath@me.com", "Mon email", :encode => "hex") %><br/>
                Ruelle Jeanne d'Arc<br/> 97180 Sainte-Anne<br/> Guadeloupe FWI
        </p>
    </div>
</div>