<div id="yui-main">
    <div class="yui-b">
        <h1>Modifier le modèle</h1>
        
        <div class="yui-g">
            <% form_for(@modele) do |f| %>
              <%= f.error_messages %>

              <%= render :partial => 'form', :locals => { :f => f } %>

              <p>
                <%= f.submit 'Mettre à jour' %>
              </p>
            <% end %>

            <%= link_to 'Voir', @modele %> |
            <%= link_to 'Retour', modeles_path %>
        </div>
    </div>
</div>



