<h1>Editing modele</h1>

<% form_for(@modele) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nom %><br />
    <%= f.text_field :nom %>
  </p>
  <p>
    <%= f.label :desc %><br />
    <%= f.text_area :desc %>
  </p>
  <p>
    <%= f.label :weburl %><br />
    <%= f.text_field :weburl %>
  </p>
  <p>
    <%= f.label :picture_filename %><br />
    <%= f.text_field :picture_filename %>
  </p>
  <p>
    <%= f.label :picture_content_type %><br />
    <%= f.text_field :picture_content_type %>
  </p>
  <p>
    <%= f.label :picture_file_size %><br />
    <%= f.text_field :picture_file_size %>
  </p>
  <p>
    <%= f.label :picture_updated_at %><br />
    <%= f.datetime_select :picture_updated_at %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @modele %> |
<%= link_to 'Back', modeles_path %>