<div id="yui-main">
    <div class="yui-b">
        <div class="yui-g accroche">
            <div id="boule-orange">
                <%= image_tag("Boule-orange.png") %>
            </div>
            <p>
                Je vous propose un panel de site modèles. Ces modèles couvrent les besoins de divers secteurs : associatif, immobilier, e-commerce et vous sont proposés à un tarif compétitif.
            </p>
        </div>
        
        <div class="yui-g">
            <h1>Nos sites modèles</h1>
            
            
            <% if logged_in? %>
                <p><%= link_to 'Nouveau Modèle', new_modele_path %></p>
            <% end %>
            
            <% @modeles.each do |modele| %>
                <div class="modele">
                    <p class="image-modele"><%= image_tag(modele.picture.url(:thumb)) %></p>
                    <p class="modele-nom"><%= modele.nom %></p>
                    <%= modele.desc %>
                    <p class="modele-prix"><%= modele.price %> € TTC</p>
                    <p class="modele-link">Voir Démo : <%= link_to modele.weburl, "#{modele.weburl}" %></p>
                </div>
                
                <% if logged_in? %>
                <p>
                    <%= link_to "Modifier", edit_modele_path(modele) %> | <%= link_to "Supprimer", modele_path(modele), :method => :delete, :confirm => "Certain de vous ?" %>
                </p>
                <% end %>
                <hr>
            <% end %>

        </div>
    </div>
</div>

