<p>
  <b>Nom:</b>
  <%=h @modele.nom %>
</p>

<p>
  <b>Desc:</b>
  <%=h @modele.desc %>
</p>

<p>
  <b>Weburl:</b>
  <%=h @modele.weburl %>
</p>

<p>
  <b>Picture filename:</b>
  <%=h @modele.picture_filename %>
</p>

<p>
  <b>Picture content type:</b>
  <%=h @modele.picture_content_type %>
</p>

<p>
  <b>Picture file size:</b>
  <%=h @modele.picture_file_size %>
</p>

<p>
  <b>Picture updated at:</b>
  <%=h @modele.picture_updated_at %>
</p>


<%= link_to 'Edit', edit_modele_path(@modele) %> |
<%= link_to 'Back', modeles_path %>