<div id="yui-main">
    <div class="yui-b">
        <h1><%= @modele.nom %></h1>
        
        <div class="yui-g">
            <p>
              <b>Description:</b>
            </p>
            <%= @modele.desc %>

            <p>
              <b>Weburl:</b>
              <%=h @modele.weburl %>
            </p>

            <p>
                <b>Prix:</b>
                <%=h @modele.price %> € TTC
            </p>


            <%= link_to 'Modifier', edit_modele_path(@modele) %> |
            <%= link_to 'Retour', modeles_path %>
        </div>
    </div>
</div>


