<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<%= stylesheet_link_tag 'reset-fonts-grids', 'base', :cache => true %>
    <%= javascript_include_tag :all, :cache => true %>
    <%= include_tiny_mce_if_needed %>
	<title>GMWebAgency</title>
	
</head>

<body>
    
    <div id="doc4" class="yui-t5">
        <div id="hd">
            <div id="hd_img">
                <%= image_tag("banniere_complete_02.jpg") %>
            </div>
            <div id="menu">
                <ul>
                    <li><%= link_to "Accueil", "/" %></li>
                    <li><%= link_to "Services", services_path() %></li>
                    <li><%= link_to "Société", societe_path() %></li>
                    <li><%= link_to "Portfolio", projets_path() %></li>
                    <li><%= link_to "Contacts", "/contacts" %></li>
                </ul>
            </div>
        </div>
        
        <div id="bd">
            <%= yield %>
        </div>
        
        <div id="ft">
            GMWebAgency © 2007-<%= Date.today.year %> - Tous droits réservés<br/>
            Siret : 4391422740026 - APE : 6311Z -
            Tel : 0690 911 748
        </div>
    </div>
    
</body>
</html>
